.bx_catalog_list_home .labels_wrp{
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
}

.bx_catalog_list_home .labels_wrp div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 300;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff !important;
    padding: 0 !important;
}

 .krayt_content_block .bx_item_detail_scu{
     display: flex;
     justify-content: center;
 }

.krayt_content_block .bx_item_detail_scu{
    margin-bottom: 3px;
}

.krayt_content_block .bx_item_detail_scu .bx_item_section_name_gray{
    margin-right: 12px;
    margin-top: -1.5px;
}